<div class="center-windows">
    <div class="container">
        <form (submit)="loginClicked($event)" >
           <div class="row">
              <div class="col-md-2"></div>
                  <div class="col-md-8">
                      <div class="panel transparent" align="center">
                          <div class="modal-title">
                              <h2>Login</h2>
                          </div>
                          <div class="">
                              <div class="row">
                                  <mat-form-field class="example-full-width">
                                      <label>Username: </label>
                                      <input matInput type="text" name="username" [(ngModel)]="username">
                                  </mat-form-field>
                              </div>
                              <div class="row">
                                  <mat-form-field class="example-full-width transparant">
                                      <label>Password: </label>
                                      <input matInput type="password" name="password" [(ngModel)]="password">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="modal-footer center-items" align="center">
                              <button class="btn btn-primary" type="submit">Login</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2"></div>
             </div>
        </form>
        <video playsinline autoplay loop muted id="video-background">
          <source src="../../assets/video/Dancing-Bulbs.mp4" type="video/mp4"/>
          <source src="../../assets/video/._Dancing-Bulbs.webm" type="video/webm"/>
        </video>
    </div>
</div>
