<app-top-nav-bar [active]="2"></app-top-nav-bar>
<div class="panel panel-body" style="padding-left: 50px;padding-right: 50px;">
    <!--<div>-->
        <!--<h3><i class="fas fa-cog fa-spin"></i>kWh verbruik: {{dataSource.length /10000}} </h3>-->
    <!--</div>-->
  <div id="overlay">
    <div class="spinner"></div>
  </div>
    <div class="modal-title">
        <h3>Tabel</h3>
    </div>
    <div class="panel-body">
        <mat-table #table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef> Tijd </mat-header-cell>
                <mat-cell *matCellDef="let Log"> {{Log.timestamp | date: 'dd/MM/yyyy hh:MM:ss'}} </mat-cell>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="data">
                <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
                <mat-cell *matCellDef="let Log"> {{Log.name}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
