<app-top-nav-bar [active]="1"></app-top-nav-bar>
<div class="panel panel-default">
    <div class="modal-title">
      <h3>Grafieken</h3>
    </div>
    <div class="panel-body">
        <div style="padding-left: 50px;padding-right: 50px;">
            <div class="row">
              <div class="col-md-6" >
                <div style="height: 100px;">
                  <h2>Totaal verbruik {{kWhAll}} kWh</h2>
                </div>
                <div style="float:left; margin-right: 0px; background-color: #ffffff;" *ngIf="isVisibleAll">
                  <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="graphDataAll"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale">
                  </ngx-charts-line-chart>
                </div>
                <div *ngIf="isVisibleAll == false">
                  <div class="loader"></div>
                </div>
              </div>
              <div class="col-md-6 border">
                <div style="height: 100px;">
                  <h2>Verbruik tussen data {{kWhDates}}</h2>
                  <mat-form-field class="example-full-width">
                      <input [(ngModel)]="fromDate" matInput [matDatepicker]="picker" placeholder="From date" readonly="true">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input [(ngModel)]="toDate" matInput [matDatepicker]="picker2" placeholder="To date" readonly="true">
                      <mat-datepicker-toggle matSuffix [for]="picker2">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <button class="btn btn-primary" (click)="sendRequest($event)">Filter data</button>
                </div>
                <div style="float:left; margin-right: 0px; background-color: #ffffff;" *ngIf="loading==false && isVisible == true">
                  <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="graphData"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [autoScale]="autoScale">
                  </ngx-charts-line-chart>
                </div>
                <div *ngIf="loading">
                  <div class="loader"></div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
