<nav class="navbar navbar-default panel-primary">
  <div class="container-fluid panel-heading">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #fff; font-weight: bold;"> Meterkast Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a style="color: #fff; font-weight: bold;" href="login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
      <li [ngClass]="{'active': graphsActive}"><a style="color: #fff; font-weight: bold;" role="button"  (click)="graphsClick($event)"><i class="fa fa-line-chart" aria-hidden="true"> </i> Grafieken</a></li>
      <li *ngIf="admin" [ngClass]="{'active': tableActive}"><a style="color: #fff; font-weight: bold;" role="button" (click)="tableClick($event)"><i class="fa fa-table" aria-hidden="true"> </i> Tabellen</a></li>
      <li [ngClass]="{'active': infoActive}"><a style="color: #fff; font-weight: bold;" role="button" (click)="infoClick($event)"><i class="fa fa-info" aria-hidden="true"> </i> Info</a></li>
    </ul>
  </div>
</nav>
<app-login-component hidden="true"></app-login-component>
